<!DOCTYPE html>
<html>
<head>
  <title>ActiveMetadata</title>
  <%= stylesheet_link_tag    "active_metadata/application", :media => "all" %>
  <%= javascript_include_tag "active_metadata/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
